In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)



import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/hotel-data-analysis/hotel_revenue_historical_full.xlsx

In [2]:
file = '/kaggle/input/hotel-data-analysis/hotel_revenue_historical_full.xlsx'

In [3]:
from sqlalchemy import create_engine

conn = create_engine('sqlite://')  # Creates in-memory SQL engine

xls = pd.read_excel(file, sheet_name=None)  # returns a dict of DataFrames
for sheet, data in xls.items():
    data.to_sql(sheet.lower(), conn, index=False, if_exists='replace')

In [4]:
pd.read_sql_query("SELECT * FROM market_segment", conn)

   Discount market_segment
0      0.00      Undefined
1      0.10         Direct
2      0.10         Groups
3      0.15      Corporate
4      0.20       Aviation
5      0.30  Offline TA/TO
6      0.30      Online TA
7      1.00  Complementary

In [5]:
 pd.set_option('display.max_columns', None)

q1= """
with hotels as (
    SELECT * FROM '2018'
    UNION
    SELECT * FROM '2019'
    UNION
    SELECT * FROM '2020'
)
SELECT * FROM hotels
left join market_segment
on hotels.market_segment = market_segment.market_segment
left join meal_cost
on hotels.meal = meal_cost.meal
"""
df_hotels=pd.read_sql_query(q1,conn)

In [6]:

df_hotels.to_csv("hotel_data_cleaned.csv", index=False)